<html>
    <head>
        <title>Project 2</title>
        <meta charset="utf-8"
    </head>

    <body>

        <p style="line-height: 100%"><font color="grey" size="5">Название курса</font></p>
        <h1 style="line-height: 100%"><font size="10"><b>Название доклада</b></h1>
        <p style="line-height: 1%"><font size="10">Введите свой текст здесь</p>
        <p style="line-height: 1%"><hr color="black" size="10"></p>
        <p style="line-height: 1%"><img src="https://w.forfun.com/fetch/a8/a825274c3f23c6dc799fb1f1a713a44e.jpeg?w=1470&r=0.5625" width="700" height="400"></p>
    </body>
</html>